.about-Paper{
    margin-top: 180px !important;
    border-radius: 20px !important;
    background: rgb(64, 82, 243) !important;
    padding: 20px !important;
    display: flex;
    flex-direction: row;
}
.about-Typo{
    font-family:'Product Sans' !important;
    padding-left: 40px !important;
    color:pink !important;
  }
.about-link{
     color: rgb(31, 209, 61) !important;
}