.navBar-iconButton{
    color:rgb(64, 82, 243) !important;
    background-color: pink !important;
    
  }
.navBar-searchBar{
       border-radius: 20px !important;
       font-family:'Product Sans' !important;
  
  }
.navBar-form{
     display: flex;
  }
.navbar-color{
    background-color:rgb(64, 82, 243);
}