p {
    color: white;
    font: 300 2em/150% Impact;
    text-align: center;
}
.loading{
    font-family: 'Product Sans' !important;
    color:pink !important;
    width:550px !important;
}
.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
@keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: pink;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 rgb(209, 189, 189),
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 pink,
        .5em 0 0 pink;}}
        
.recommend-paper{
    background-color: rgb(64, 82, 243) !important;
    border-radius: 10px !important;
    width:fit-content!important;
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.random-typo
{
    font-family: 'Product Sans' !important;
    width:fit-content!important;
    color:pink !important;
    background-color:  rgb(64, 82, 243) !important;
    border-radius: 5px;
    justify-content: center !important;
    margin:20px 0  !important;
}
.random-image{
    border-radius: 8px;
}
.random-buttons >:not(:last-child){
  margin-bottom: 10px !important;
}