.animeCard__container{
    margin:15px;
    transition: transform .1s;
}
.animeCard__paper{
    display:flex;
    align-items:center;
    align-content:center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(64,82,243) !important;
    color:pink !important;
    
   
}
.animeCard__container:hover{
    transform: scale(1.03);
}
.animeCard__typo{
    font-family: 'Product Sans' !important;
}